@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&family=Raleway:wght@900&display=swap');

body {
  color:ffb000;
  background-color:604200;
  font-family:Whitney, sans-serif;
  font-weight:400;
  font-size:16;
}

code {font-family: Fira Code, monospace; background-color:#3e2b00;}

h1 {font-family:Raleway, Whitney, sans-serif;}

main {
  background-color: 523800;
  width: 60%;
  padding: 15px;
  text-align:left;
}

table.s {
    border-collapse: collapse;
    margin: 25px 0;
	min-width: 100%;
	max-width: 100%;
	border-radius: 15px;
    border: 2px solid #ffb000;
}

table.s th {
    background-color: #ffb000;
    color: #604200;
    text-align: left;
}

table.s th,
table.s td {
    padding: 12px 15px;
}

table.s tr {
    background-color: #604200;
}

table.s tr:nth-of-type(even) {
    background-color: #523800;
}

table.s tr.down {border-bottom: 2px solid #ffb000;}
table.s th.down {border-bottom: 2px solid #604200;}

table.s td.right {border-right: 2px solid #ffb000;}
table.s th.right {border-right: 2px solid #604200;}

a:link {
  color: #0080ff;
  text-decoration: none;
}

a:visited {
  color: #1a8dff;
  text-decoration: none;
}

a:hover {
  color: #0068d0;
  text-decoration: underline;
}

a:active {
  color: #686868;
  text-decoration: underline;
}

:target, :target code {
	-webkit-animation: target-fade 1s;
	-moz-animation: target-fade 1s;
	-o-animation: target-fade 1s;
	animation: target-fade 1s;
}

@-webkit-keyframes target-fade {
	from { background-color: white; }
	to { background-color: transparent; }
}

@-moz-keyframes target-fade {
	from { background-color: white; }
	to { background-color: transparent; }
}

@-o-keyframes target-fade {
	from { background-color: white; }
	to { background-color: transparent; }
}

@keyframes target-fade {
	from { background-color: white; }
	to { background-color: transparent; }
}

@font-face {
font-family: 'Whitney';
font-style: normal;
font-weight: 700;
src: local('Whitney Bold'), url('whitneybold.woff') format('woff');
}

@font-face {
font-family: 'Whitney';
font-style: normal;
font-weight: normal;
src: local('Whitney Book Regular'), url('whitneybook.woff') format('woff');
}